<launch>
    <!--  publish fixed frame transformations  -->
    <node pkg="tf" type="static_transform_publisher" name="humans_frmae_transform"
          args="0 0 0 0 0 0 /map /humans_frame 100"/>

    <!--  launch fake_human_publisher  -->
    <node pkg="hanp_msgs" type="fake_humans_publisher" name="fake_humans_publisher" output="screen">
        <param name="publish_markers" type="bool" value="true"/>
        <param name="start_pose_x" type="double" value="1.0"/>
        <param name="start_pose_y" type="double" value="1.0"/>
        <param name="end_pose_x" type="double" value="2.0"/>
        <param name="end_pose_y" type="double" value="2.0"/>
    </node>
</launch>
